

<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
    <div class="login-content">
  
      <!-- Logo -->
      <div padding-horizontal text-center class="animated fadeInDown">
        <div class="logo"></div>
        <!-- <h2 ion-text class="text-white" no-margin>
          <strong>ORGANIC</strong>
        </h2> -->
      </div>
  
      <!-- Login form -->
      <form class="list-form">
        <ion-item>
          <ion-label floating>
            Username
          </ion-label>
          <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <p ion-text color="danger" class="text-1x has-error" *ngIf="emailRequired">This field is required</p>
  
        <ion-item>
          <ion-label floating>
            Password
          </ion-label>
          <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <p ion-text color="danger" class="text-1x has-error" *ngIf="passwordRequired">This field is required</p>
      </form>
  
      <div>
        <br>
        
        <ion-row>
       
            <p item-right ion-text color="light"(click)="forgotPassword()">Forgot Password?</p>
          <ion-col col-5></ion-col>
          <ion-col col-2>
        <button *ngIf="email && password"  icon-start color="dark" class="btn-light" tappable (click)="login()">
          Login
        </button>
        <button *ngIf="!email && !password" icon-start  class="btn-login" tappable >
            Login
          </button>
          <button *ngIf="!email && password" icon-start class="btn-login" tappable >
              Login
            </button>
            <button *ngIf="email && !password" icon-start class="btn-login" tappable >
                Login
              </button>
            </ion-col>
            </ion-row> 

        <!-- <ion-row style="text-align: center !important;">
            <ion-checkbox color="light" checked="true" class="checkbox-icon"> </ion-checkbox>
        <ion-label class= "checkbox-label">Keep me logged in</ion-label>
        
      </ion-row> -->
  
      <br><br><br><br><br><br><br><br><br>
      <ion-row>
          <ion-col col-12>
            <button ion-button icon-start block color="dark" class="btn-fb" tappable (click)="toFacebook()">
             CONNECT WITH FACEBBOOK
            </button>
          </ion-col>
        </ion-row>
      <ion-row>
      <ion-col col-12>
        <button ion-button icon-start block color="dark" class="btn-register" tappable (click)="register()">
         DON'T HAVE AN ACCOUNT? SIGN UP!
        </button>
      </ion-col>
    </ion-row>
  
      </div>
  
  
      <!-- Other links -->
      
  
    </div>
  </ion-content>
  