page-register {
    .text-white{
        color: white !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    }
    .btn-login{
        background-color: #1A95E9 !important;
    }
    .text-col{
        color: white !important;
    }
    #datetime{
        color: white !important;
    }

    .checkbox-icon{
        border-radius: 0px !important;
        margin-top: 6px !important;
        margin-left: 55px !important;
    }
    .checkbox-label{
        color: white !important;
    }
}
