<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->

<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
    <div class="login-content">
  
      <!-- Logo -->
      <div padding-horizontal text-center class="animated fadeInDown">
        <div class="logo"></div>
        <!-- <h2 ion-text class="text-white" no-margin>
          <strong>ORGANIC</strong>
        </h2> -->
      </div>
      <br>
      <ion-row>
          <ion-col ion-col text-center no-padding col-12 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <h1 class="text-col">Register</h1>
            </ion-col>
      </ion-row>
  
      <!-- Login form -->
      <form class="list-form">
        <ion-item>
          <ion-label floating>
            Email
          </ion-label>
          <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <p ion-text color="danger" class="text-1x has-error" *ngIf="emailRequired">This field is required</p>
  
        <ion-item>
          <ion-label floating>
            Username
          </ion-label>
          <ion-input type="string" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <p ion-text color="danger" class="text-1x has-error" *ngIf="passwordRequired">This field is required</p>
        <ion-item>
            <ion-label floating>
              Date of birth
            </ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" id="datetime"></ion-datetime>
  
          </ion-item>
          <ion-item>
              <ion-label floating>
                Password
              </ion-label>
              <ion-input type="password" name="email"></ion-input>
            </ion-item>
           
      </form>
  
      <div>
          <ion-row style="text-align: center !important;">
              <ion-checkbox color="light" checked="true" class="checkbox-icon"> </ion-checkbox>
          <ion-label class= "checkbox-label">I accept the policies</ion-label>
        
        </ion-row>
        <button ion-button icon-start block color="dark" class="btn-login" tappable (click)="toLogin()">
          <ion-icon name="log-in"></ion-icon>
          Register
        </button>
  
       
  
        <!-- <ion-grid class="btn-group">
          <ion-row>
            <button ion-button icon-only block class="btn-facebook col col-4">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button ion-button icon-only block class="btn-twitter col col-4">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
            <button ion-button icon-only block class="btn-gplus col col-4">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-row>
        </ion-grid> -->
  
      </div>
  
  
      <!-- Other links -->
      
  
    </div>
  </ion-content>
  