page-verified-venues {
    ion-header{
        height: 110px !important;
        background: #FFBD02 !important;
    }
    .searchbar-input{
        border-radius: 6px !important;
        height: 38px !important;
    }
    ion-icon{
        color: white !important;
        font-size: 25px !important;
        font-weight: bolder !important;
    }
}
