<!--
  Generated template for the TrendingBeersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="background-color: #FFBD02 !important;">

  <ion-navbar>
    <ion-row>
    <ion-title>Trending Beers</ion-title>
    <ion-col col-1 item-end item-right>
    <ion-icon name="appname-dots"  *ngIf="!hide"></ion-icon>
  </ion-col>
  </ion-row>
  
  
  </ion-navbar>
  <ion-segment align-middle mode="ios" [(ngModel)]="requests">
    <ion-segment-button value="local"> Local </ion-segment-button>

    <ion-segment-button value="global" (click) = "onGlobal()"> Global </ion-segment-button>

  </ion-segment>
  <div>
    <ion-searchbar placeholder = "City, state, or zip code" class="searchbar" [(ngModel)]="searchTerm"></ion-searchbar>
  </div>

</ion-header>


<ion-content padding>
  <div [ngSwitch]="requests">
      <ion-list *ngSwitchCase="'local'" no-lines>

        </ion-list>

        <ion-list *ngSwitchCase="'global'" no-lines>

            <ion-list *ngFor="let item of data">
                <ion-item default-item no-lines>
                  <!-- <ion-avatar item-start> -->
                    <img item-start [src]="item.avatar"/>
                  <!-- </ion-avatar> -->
                  <h2 item-title><b>{{item.title}}</b></h2>
                  <h3 item-subtitle text-wrap>{{item.subtitle}}</h3>
                  <h3 item-subtitle text-wrap>{{item.subtitle}}</h3>
                  <!-- <ion-col col-1 item-end item-right> -->
                <ion-icon class="icon-btn" item-end name="appname-dots" (click) = "presentActionSheet(item)" style="color: black !important;"></ion-icon>
                <!-- </ion-col> -->
                <br>



                 <!-- <ion-row>
                 <h3 item-subtitle>{{item.number}}</h3>
                 <h3 item-subtitle>{{item.text}}</h3>
                </ion-row> -->
                </ion-item>
                <hr>
                
              </ion-list>

        </ion-list>
    </div>
</ion-content>
