page-trending-beers {
    ion-header{
        height: 145px !important;
        background: #FFBD02 !important;
    }
   
    .searchbar-input{
        border-radius: 6px !important;
        height: 38px !important;
    }
    ion-icon{
        color: white !important;
        font-size: 25px !important;
        font-weight: bolder !important;
    }
    .toolbar .searchbar-ios .searchbar-input {
        background: white !important;
    }
    .searchbar-ios{
        background: #FFBD02 !important;
        margin-top: 5px !important;
    }
    
    hr{
        color: black !important;
        // border-bottom: 1px solid black !important;    
    }

    .icon-trending{
        color: black !important;
        font-size: 15px !important;
        font-weight: 300 !important;
        background-color: black !important;
    }
    .row-items{
        border-bottom: 0.2px solid rgb(212, 208, 208) !important;
    }
    .back-button.show-back-button {
        display: none !important;
    }
    .icon{
        font-size: 22px !important;
    }
    ion-segment{
        // margin-left: 12px !important;
        margin: auto !important;
        background-color: white !important;
        width: 350px !important;
        color: #FFBD02 !important;
        border-color:solid white !important;
        text-align: center !important;
        border-radius: 5px !important;
    }
    

    .segment-button{
        color: white !important;
        border-color: white !important;
        background: #FFBD02 !important;
    }
    .segment-button.segment-activated{
        background: white !important;
        color: #FFBD02 !important;

    }
    .segment-button.segment-activated{
        border-color: solid white !important;
    }
    img{
        border-radius: 0px !important;
        height: 50px !important;
        width: 50px !important;
        margin-bottom: 35px !important;
    }
    .item-md{
        padding-left: 0px !important;
    }
    .item-ios{
        padding-left: 0px !important;
    }
    .icon-btn{
        background-color: black !important;
        font-size: 15px !important;
    }
    //   star ratings
    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
    fieldset, label { margin: 0;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: -1rem !important;
        padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFDB38;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFDB38;  }
}
