page-signup {
    .image{
        background-color:transparent !important;
        color: #3b5998 !important;
        font-weight: 600 !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .row-styling{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    img{
        border-radius: 50% !important;
        width: 80px !important;
        height: 80px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .btn-ca{
        background-color: #FFBD02 !important;
        // font-size: 13px !important;
    }
}
